@model Position

@{
    ViewData["Title"] = "Cargo";
}

<h1>Crear Cargo</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-controller="Positions" asp-action="Create">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Nombre</label>
        <input type="text" id="Name" name="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label">Descripcíón</label>
        <textarea asp-for="Description" name="Description" cols="3" rows="3" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}