
@{
    ViewData["Title"] = "Inicio";
   
}

<div class="text-center"> 
    <h1 class="display-4"><b>DIRCOCOR</b></h1>
    <h3>Dirección Contra la Corrupción</h3>    
    <img id="foto" src="~/images/Logo-Dircocor.jpg" alt="Logo Dircocor" />
</div>

@section Scripts {
    <script src="~/js/Custom.js"></script>
}
